* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start; /* Cambiar a flex-start para que los elementos se alineen a la izquierda */
  align-items: flex-start; /* Alineación normal en la parte superior */
  min-height: 100vh;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  flex-direction: column; /* Apilar los elementos de arriba a abajo */
}

.container {
  text-align: left; /* Cambiar de center a left */
  width: 90%; /* Reducir el ancho del contenedor */
  padding: 20px;
  margin-top: 20px;
}

.title {
  font-size: 1.8em; /* Reducir el tamaño del título */
  color: #ff0044;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px #ff0044;
}

.video-player {
  border: 2px solid #ff0044;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-player iframe {
  width: 100%;
  height: 350px; /* Reducir el tamaño del iframe */
  border: none;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mantener 2 columnas */
  gap: 15px; /* Separar un poco más los elementos */
  max-width: 100%;
  margin-top: 30px; /* Aumentar espacio entre video player y lista */
  margin-bottom: 30px;
}

.thumbnail {
  cursor: pointer;
  width: 100%;
  height: auto;
  border: 2px solid #ff0044;
  border-radius: 8px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.thumbnail p {
  color: #ff0044;
  margin-top: 5px;
  font-size: 0.9em;
  text-shadow: 0px 0px 5px #ff0044;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    width: 95%; /* Reducir más el ancho para pantallas más pequeñas */
  }

  .title {
    font-size: 1.5em; /* Ajustar el tamaño del título */
  }

  .video-player iframe {
    height: 300px; /* Reducir el tamaño en pantallas más pequeñas */
  }

  .video-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Menos espacio entre los videos */
    margin-top: 20px;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }
}

/* Media Query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .container {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .title {
    font-size: 1.2em; /* Título más pequeño */
  }

  .video-player iframe {
    height: 200px; /* Reducir el tamaño para pantallas más pequeñas */
  }

  .video-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en lugar de 3 */
    gap: 5px;
    margin-top: 10px;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }

  .thumbnail p {
    font-size: 0.8em; /* Ajustar el tamaño del texto */
  }
}
