* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  overflow-y: auto;
  flex-direction: column;
}

.container {
  text-align: center;
  width: 90%;
  padding: 20px;
  margin-top: 20px;
}

.title {
  font-size: 1.8em;
  color: #ff0044;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px #ff0044;
}

.video-player {
  border: 2px solid #ff0044;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-player iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.video-list {
  display: flex;
  flex-direction: column; /* Organiza los videos uno debajo del otro */
  gap: 20px; /* Espacio entre los videos */
  margin-top: 40px;
  margin-bottom: 40px;
}

.thumbnail {
  cursor: pointer;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: auto;
  border: 2px solid #ff0044;
  border-radius: 8px;
  padding: 5px;
  transition: transform 0.3s ease;
  margin: 0 auto; /* Centra las miniaturas dentro del contenedor */
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.thumbnail p {
  color: #ff0044;
  margin-top: 5px;
  font-size: 0.9em;
  text-shadow: 0px 0px 5px #ff0044;
}

/* Media Queries para pantallas más pequeñas */

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 1.5em; /* Tamaño de texto ajustado */
  }

  .video-player iframe {
    height: 250px; /* Altura reducida para pantallas más pequeñas */
  }

  .video-list {
    gap: 20px; /* Mantener el espacio entre videos */
  }

  .thumbnail {
    width: 100%; /* Se ajusta al 100% de ancho disponible */
    max-width: 400px; /* Máximo tamaño de la miniatura */
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px; /* Menos padding para pantallas más pequeñas */
  }

  .title {
    font-size: 1.2em; /* Ajuste del tamaño de texto */
  }

  .video-player iframe {
    height: 200px; /* Ajuste de altura */
  }

  .video-list {
    gap: 15px; /* Menos espacio entre los videos */
    margin-top: 10px;
  }

  .thumbnail {
    width: 100%; /* Miniaturas al 100% de la pantalla */
    height: auto;
    max-width: 100%; /* Evita que las miniaturas sean demasiado grandes */
  }

  .thumbnail p {
    font-size: 0.8em; /* Ajuste de tamaño de texto */
  }
}
